// language - syntactically awesome stylesheets
// used to simplify code with variables and functions 

// npm install sass 
// sass --watch input.scss output.css


//variables

$black: #343434;
$tan: #ECEBE4;

$font-stack: 'Roboto Condensed', sans-serif;
$font-size: 18px;
$border:$black 1px solid;
$hborder:solid 2px $black;


// styles
html {
    background:$tan;
} 

p {
    font-family: $font-stack;
    font-size: $font-size;
    color: $black;
    padding: 10px;
}

.articles {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-gap: 5px;
    padding: 45px;
    box-sizing: border-box;
}

.header{
    font-size: 45px;
    text-align: center;
    border-bottom:$border;
    padding: 15px;
    color: $black;
}

h5{
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
    font-family: $font-stack;
    text-align: left;
    color: black;
   }


.quote{
    font-size: 30px;
    text-align: center;
    display: block;
    padding: 45px; 
    color: $black;
    font-weight: bold;
}

.quote:before{
    border:$border;
    display: block;
    content: '';
}

.quote:after{
    border:$border;
    display: block;
    content: '';
}


.headline__caption {
    &--large {
    text-align: center;
    font-size: 92px;
    font-weight: bold;
    padding-bottom: 15px;
    color: $black;
    }

    &--small {
    text-align: center;
    font-size: 28px;
    font-weight: lighter;
    border-bottom: $hborder;
    border-top: $hborder;
    color:$black;
    padding: 10px;
    }
}

.article{
    padding: 10px;
}
     
.article2, .article3{
    padding: 10px;
    border-left:$border;
}


     
    
     
     
     
     
     














